@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
@layer base {
  font-family: Poppins, Roboto, Lato;
}
.card-project:hover .card-image {
  filter: brightness(60%) !important;
}
.card-project {
  @apply relative flex items-center justify-center m-3 overflow-hidden;
}
.card-image {
  @apply w-80 h-auto transition-all rounded-lg duration-500 ease-in-out transform bg-center bg-cover;
}
.card-text {
  @apply transition-all duration-500 ease-in-out scale-150 opacity-0;
}
.card-image:hover {
  @apply scale-150 filter brightness-75;
}
.card-project:hover .card-text {
  @apply opacity-100 scale-105;
}
.fade {
  animation: fade-in 500ms forwards;
}

.text-beige {
  color: #ab9c8e;
}

.text-green {
  color: #1c4140;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
